@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 208 42% 97%;
  --fg: 214 46% 13%;
  --card: 0 0% 100%;
  --border: 207 30% 85%;
  --muted: 210 14% 40%;
  --primary: 203 82% 53%;
  --success: 146 44% 43%;
  --warning: 34 90% 52%;
  --danger: 0 75% 60%;
}

.dark {
  --bg: 211 67% 7%;
  --fg: 206 35% 92%;
  --card: 211 47% 11%;
  --border: 209 33% 22%;
  --muted: 210 15% 64%;
  --primary: 202 88% 61%;
  --success: 146 48% 45%;
  --warning: 36 90% 57%;
  --danger: 0 78% 61%;
}

* { @apply border-border; }
body {
  @apply bg-bg text-fg antialiased;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
